# Default ignored files
/shelf/
/workspace.xml
sonarlint
sonarlint/
misc.xml
gradle.xml
compiler.xml
kotlinc.xml
/.name
/other.xml
/migrations.xml
/vcs.xml
.name
other.xml
vcs.xml
migrations.xml
/deploymentTargetSelector.xml
deploymentTargetSelector.xml
